:root {
  --color0: #17191D;
  --color1: #588EA2;
  --color2: #AC978F;
  --color3: #B1B7B6;
  --color4: #CFBCB1;
  --color5: #D0D9D7;
  --color6: #DCE2DF;
  --color7: #F3F7F6;
  --color8: #666666;
  --color9: #588EA2;
  --color10: #AC978F;
  --color11: #B1B7B6;
  --color12: #CFBCB1;
  --color13: #D0D9D7;
  --color14: #DCE2DF;
  --color15: #F3F7F6;
}
